.label {
    -fx-background-color: white;
    -fx-padding: 10 14 10 14;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-font-size: 14px;
}


.reply-label {
    -fx-background-color: #d9e2f5;
}


#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}
